input,
button {
    border-radius: 6px;
    padding: 15px 20px;
    font-weight: bold;
    background: none;
    border: 2px solid grey;
    color: grey;
}
button {
    transition: all .4s ease-in-out;
}
button:hover {
    cursor: pointer;
    background: blue;
    color: white;
    border-color: blue;
}
input:focus,
input:active,
button:active,
button:focus {
    border-color: #00e9ff
}

.form-component h1 {
    text-align: center;
    margin: 30px 0px;
    font-size: 3rem;
    color: rgb(65 65 255);
}

.form-component h1 span {
    font-size: 1rem;
    vertical-align: top;
    top: 10px;
    position: relative;
}

.form-wrapper {
    width: 100%;
    margin-top: 40px;
}

.form-component {
    max-width: 600px;
    min-width: 300px;
    margin: 10px auto;
    padding: 0px 50px;
}

.form-component .details {
    display: flex;
    justify-content: space-between;
}

.form-component .details input {
    width: calc(50% - 10px);
}

.form-component>* {
    width: 100%;
    margin: 5px 0;
}