.transactions-wrapper {
    width: 100%;
    margin-bottom: 50px;
}

.transaction-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    max-width: 600px;
    margin: 10px auto;
    min-width: 300px;
    padding: 0 50px;
}
.transaction-wrapper:first-child > .item-wrapper-qualitative , .transaction-wrapper:first-child > .item-wrapper-quantitative{
    border:none;
}
.item-wrapper-qualitative {
    grid-column-end: 5;
    grid-column-start: 1;
    border-top: 1px solid grey;
}

.item-wrapper-quantitative {
    grid-column-start: 5;
    text-align: right;
    grid-column-end: 7;
    border-top: 1px solid grey;
}

.name {
    color: rgba(233, 233, 233, 0.755);
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 0 10px 0;
}
.amount {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 0 5px 0;
}
.amount.red {
    color:red;
}
.amount.green {
    color:green;
}
.description {
    font-size: .6rem;
}
.date {
    font-size: .6rem;
}